
.global-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 1px;
    z-index: 1030;
    padding: 5px;
}

.footer-icon {
    height: 25px;
    margin: .25rem .1rem .25rem .1rem;
}
